@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.container{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.top_bar_hr {
  background-image: linear-gradient(#f09700, #201f1e);
  height: 26vh;
}

.side_bar_hr {
  background-color: #3d3d41;
  width: 20vw;
  height: 500px
}

.cmp_name_hr {
  color: black;
  font-family: "Georgia";
  font-size: 34px;
  font-weight: 600;
  padding: 20px 0px 0px 30px;
}

.cmp_detail_hr {
  color: #362d29;
  font-family: "googleapis";
  font-size: 24px;
  font-weight: 600;
  padding-left: 30px;
}

.top_bar_data_hr {
  width: 50vw;
}

.top_bar_quote_hr {
  padding: 20px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 600;
}

.top_bar_image_hr {
  height: 100px;
  width: 200px;
  border-radius: 25px;
  padding: 20px;
}

.profile_hr_hr {
  width: 50px;
  height: 20px;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.profile_name_hr {
  color: rgb(218, 209, 209);
  font-family: "Georgia";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.profile_data_hr {
  text-align: center;
}

.side{
  cursor: pointer;
}

ul {
  list-style-type: none;
  color: rgb(230, 200, 200);
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}

i {
  padding-right: 0px;
  padding-bottom: 30px;
  color: rgb(173, 166, 166);
  
}


.main_sec_hr {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.ts_date_hr {
  text-align: center;
  font-size: 22px;
  font-family: "Lucida Sans Regular";
}

.ts_table_hr {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 40px;
}

.ts_head .ts_col {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: rgb(167, 162, 162);
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.bottom_bar_hr {
  background-image: linear-gradient(#f19d0a, #d63d05);
  height: 15vh;
  text-align: center;
}

.bottom_bar_heading_hr {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
  padding-top: 30px;
}

.bottom_bar_desc_hr {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-bottom: 20px;
}

.emp_ts_button_hr {
  padding: 10px;
  background-color: black;
  color: white;
  border-width: 0cm;
  border-radius: 10px;
  margin: 0px 0px 40px 40px;
  cursor: pointer;
}

.admin_emp_create_hr {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  padding-right: 600px;
  font-weight: bold;
}

.label_emp_hr {
  width: 15vw;
  font-family: "Lucida Sans", "Lucida Sans Regular";
  font-size: 18px;
  font-weight: 600;
}

.emp_form_hr {
  margin: 30px;
  background-color: rgb(153, 160, 158);
  padding: 30px;
  width: 50%;
  border-radius: 25px;
}

.emp_form_desc_hr {
  font-family: "Georgia";
  font-size: 26px;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 30px;
}
