/* @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700"); */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
} 

  /* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.container_admin {
  padding: 0;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.wrapper_admin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
}

form {
  display: flex;
  flex-direction: column;
  width: 850px;
  justify-content: space-around;
}

.wrapper p {
  font-size: 0.75rem;
  color: #2b2684;
  margin-bottom: 0;
}

.pass-icon {
  display: flex;
  position: relative;
  width: 850px;
}

#email,
#employee,
#name,
#role,
#phoneno,
#password_,
#address,
#dateofjoining,
#securityques,
#securityans {
  height: 30px;
  width: 450px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #060611;
  margin-bottom: 0;

}

.pass-icon img {
  width: 25px;
  position: absolute;
  align-self: center;
  right: 0;
  margin-right: 10px;
  filter: opacity(0.3);
}

a {
  text-decoration: none;
  color: #cab333;
  font-size: 0.75rem;
  text-align: right;
  margin-right: 15px;
}

#password {
  margin-bottom: 0;
}

#login-btn {
  margin: 0;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #34c475;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;

}

span {
  text-align: center;
  position: relative;
}

button:hover,
#login-btn:hover {
  transform: scale(1.1);
}

.headstatus{
  color: #c91d3a;
  font-weight: 700;
  font-family:'Times New Roman', Times, serif
}